body {
  font-family: 'Seymour One', sans-serif;
  background-color: black;
  color: white;
  word-spacing: 3px;
  margin-top: 2rem;
}

h1,
h2 {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.top-div {
  margin: auto;

  background: rgb(22, 20, 20);
  background: linear-gradient(
    27deg,
    rgba(22, 20, 20, 0.5970763305322129) 0%,
    rgba(25, 20, 20, 1) 0%,
    rgba(74, 25, 18, 1) 45%,
    rgba(238, 42, 12, 1) 82%
  );
  width: 75%;
  border-radius: 1rem;
  padding: 1rem;
}

html {
  font-size: 62.5%;
}

#title {
  display: block;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 0;
  padding: 0.5rem;
}

#ramiz-img {
  width: 30%;
  height: 30%;
  border-radius: 1rem;
}

#ramiz-img:hover {
  transform: rotate(360deg);
  transition: ease-in-out 1s;
}

.about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  padding: 0 1rem;
}

.about-me p {
  font-size: 2rem;
  width: 90%;
  text-indent: 3rem;
}

#project-heading {
  text-align: center;
  font-size: 3rem;
}

.projects-container {
  display: grid;
  gap: 3rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-title {
  font-size: 2rem;
  color: red;
  text-align: center;
}

.project-img {
  width: 20em;
  height: 20em;
}

#admin-img {
  width: 5rem;
  height: 5rem;
}

.project {
  background-color: #200;
  border-radius: 1rem;
  padding-bottom: 1rem;
}

.project:hover {
  scale: 1.1;
  transition: ease-in-out 0.2s;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 15rem; */
  outline: none;
}

footer img:hover {
  transform: rotate(360deg);
  transition: ease-in-out 0.4s;
  scale: 1.4;
}

footer img {
  width: 4rem;
  height: 4rem;
}

.coming-soon {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  #ramiz-img {
    width: 40%;
    height: 30rem;
  }

  .about-me p {
    font-size: 1.6rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 890px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }

  .coming-soon {
    display: grid;
  }
}

@media screen and (max-width: 655px) {
  .about-me p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 655px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  .project {
    width: 30rem;
  }

  .projects-container {
    justify-items: center;
  }
}

@media screen and (max-width: 950px) {
  .about-me {
    flex-direction: column;
    width: 100%;
  }

  #ramiz-img {
    display: none;
  }

  #title {
    margin-bottom: 0;
  }
}

/* Skills */

.skills {
  color: blue;
  background: rgb(22, 20, 20);
  background: linear-gradient(
    27deg,
    rgba(22, 20, 20, 0.5970763305322129) 0%,
    rgba(25, 20, 20, 1) 0%,
    rgba(74, 25, 18, 1) 45%,
    rgba(238, 42, 12, 1) 82%
  );
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem auto;
  width: 75%;
}

#skills--title {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  margin: 0;
}

li {
  padding: 1rem;
  text-align: center;
}

.second {
  background-color: blue;
  color: yellow;
}

.first {
  background-color: yellow;
  color: blue;
}

/* Contact */

.contact {
  background-color: #484848;
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 1rem;
  width: 75%;
}

.contact h2 {
  font-size: 3rem;
  margin: 0;
}

.contact ul {
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
}

span {
  display: block;
  margin-top: 1rem;
  color: #101010;
  font-size: 1.4rem;
}

@media screen and (max-width: 700px) {
  .contact ul {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 440px) {
  .contact h2 {
    font-size: 2.7rem;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

footer img {
  width: 2.2rem;
  height: 2.2rem;
}
